<!DOCTYPE html>
<html ng-app='wishlist'>
    <body ng-controller='HelloController'>
        <div><input ng-model='world'></div>
        <p>Hello {{world}}</p>
        <script src='js/angular.js'></script>
        <script src='js/controllers.js'></script>
    </body>
</html>
